*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html,body {
    width: 100%;
    height: 100%;
    background-color: #111;
     display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #111;
     display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 550px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
p{
    font-family: helvetica;
    margin-bottom: 20px;
    font-size: 20px ;
}
p span{
    font-weight: 800;
    color: blue;
}
#top {
    width: 100%;
    height: 10%;
    background-color: rgb(233, 229, 229);
    border-radius: 10px;
    
}
#inner{
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: green;
}
#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
button{
    width: 200px;
    height: 50px;
    padding: 10px 20px ;
    background-color: green;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2pc white;

}
button:active{
    scale: 0.95;
}