*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    background-color: #111;
     display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #111;
     display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 200px;
    height: 50px;
    padding: 10px 20px ;
    background-color: brown;
    font-size: 15px;
    color: wheat;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    position: absolute;
    z-index: 9;
}
button:active{
    scale: 0.95;
}