*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
html, body {
    width: 100%;
    height: 100%;

}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(104, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.elem {
    padding: 20px;
   width: 700px;
   height: 100px;
   background-color: rgb(168, 196, 212);
   border: 2px solid black;
   margin-bottom: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
}
button{
    padding: 10px 24px;
   border-radius: 5px;
   background-color: blue;
   color: white;
}
button:active{
    scale: 0.95;
}