*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html , body {
    width: 100%;
    height: 100%;
    background-color: rgb(11, 11, 11);
}
main{
    width: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card{
  /* height: 350px; */
  width: 280px;
  background-color: white;
  width: 200px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  
}
.card img{
  width: 100%;
  height: 180px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card h2{
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 20px;
}
.card h4{
  font-size: 18px;
  margin-top: 10px;
  color: crimson;
  margin-bottom: 10px;
}


.card p{
  font-size: 14px;
}