*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica;
}
 html,body {
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom , rgb(33, 33, 33),rgb(35,35,35),black);
    padding: 20px;
    overflow: auto;
}
section{
    height: 100%;
    width: 390px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    /* overflow: hidden; */
}
.allreels{
    width: 100%;
    height: 100%;
    /* background-color: crimson; */
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.allreels::-webkit-scrollbar{
    display: none;
}
.reel{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: aqua; */
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reel .bottom{
    width: 100%;
    padding: 30px  20px;
    /* background: linear-gradient(rgb(0,0,0),rgb(0, 0, 0, 0.948)); */
    position: absolute;
    bottom: 0;
    
}
.bottom .user {
    display: flex;
    align-items: center;
    gap: 20px;margin-bottom: 10px;
}
.bottom .user h4{
    color: white;
}
.bottom .user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
}
.bottom>h3{
    font-weight: 300;
    font-size: 15px;
}
.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 10%;

    /* transform: translateX(100%); */
}
.right h4{
    /* background-color: red; */
    cursor: pointer;
}
.right i {
    font-size: 25px;
    font-weight: 200;
}
.right h6 {
    font-size: 15px;
    font-weight: 300;
}
.right>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px ;
    cursor: pointer;
}
.right .love{
    color:red ;
}
.right>div h4{
    pointer-events: none;
}
