*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
:root{
    --x: 400px;
    --y: 400px;
}
body{
    background-image: url(https://i.pinimg.com/1200x/61/7d/57/617d57e3d89e3782a66e0f8d4a365a4e.jpg);
    background-size: cover;
}

.box{
    width: 100%;
    height: 100%;
    
    background: radial-gradient(150px at var(--x) var(--y) , rgba(250, 251, 250, 0) , rgb(7, 0, 0));
    
}